<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>可包装出售技术汇总</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- build:css(app/assets) styles/slides.css -->
    <link href="bower_components/reveal.js/css/reveal.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/reveal.js/css/theme/night.css" rel="stylesheet" type="text/css" id="theme" />
    <link href="bower_components/reveal.js/lib/css/zenburn.css" rel="stylesheet" type="text/css" />
    <link href="styles/slides.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->

    <!-- build:js(app/assets) scripts/reveal.js -->
    <script src="bower_components/headjs/dist/1.0.0/head.min.js"></script>
    <script src="bower_components/reveal.js/js/reveal.js"></script>
    <!-- endbuild -->

    <!-- build:remove -->
    <script src="//localhost:35729/livereload.js"></script>
    <!-- endbuild -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
      {{{body}}}
      </div>
    </div>

    <!-- build:js(app/assets) scripts/libs.js -->
    <script src="bower_components/classlist/classList.min.js" type="text/javascript"></script>
    <script src="bower_components/reveal.js/plugin/markdown/marked.js" type="text/javascript"></script>
    <script src="bower_components/reveal.js/plugin/markdown/markdown.js" type="text/javascript"></script>
    <script src="bower_components/reveal.js/plugin/highlight/highlight.js" type="text/javascript"></script>
    <script src="bower_components/reveal.js/plugin/notes/notes.js" type="text/javascript"></script>
    <script src="bower_components/reveal.js/plugin/zoom-js/zoom.js"></script>
    <!-- endbuild -->
    <script type="text/javascript">
      Reveal.initialize({
          history: true,
          theme: 'night',
          transition: 'linear',
          slideNumber: true,
          dependencies: []
      });
    </script>
  </body>
</html>